---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true,
  "metadata": {
    "title": "Dublin City Council Meetings",
    "subtitle": "Dublin City Council Meetings, made available as podcasts.",
    "language": "en-ie",
    "url": "https://dcc-meetings.netlify.app/",
    "author": {
      "name": "Fallow Media",
      "email": "dccmeetings@fallowmedia.com"
    }
  }
}
---
<rss xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:content="http://purl.org/rss/1.0/modules/content/" xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" xmlns:googleplay="http://www.google.com/schemas/play-podcasts/1.0" version="2.0">
  <channel>
    <title>{{ metadata.title }}</title>
    <description>{{ metadata.subtitle }}</description>
    <link href="{{ metadata.url }}"/>
    <id>{{ metadata.url }}</id>
    <lastBuildDate>{{ now() }}</lastBuildDate>
    <image>
        <url>{{metadata.url}}/council-pods-test-image.jpg</url>
        <title>{{metadata.title}}</title>
        <link>{{ metadata.url }}</link>
        </image>
    <author>
        <name>{{ metadata.author.name }}</name>
        <email>{{ metadata.author.email }}</email>
    </author>
    <itunes:category text="Government" />
    <language>en</language>
  </channel>
  {%- for meeting in podcastData %}
  <item>

    <title>{{ meeting.title }}</title>
    <guid isPermaLink="true">{{meeting.guid}}</guid>
    <enclosure url="{{meeting.audio_file_url}}" length="{{meeting.size}}" type="audio/mpeg"/>
    <content:encoded>{{meeting.content}}</content:encoded>
    <itunes:summary>{{meeting.content}}</itunes:summary>
    <itunes:explicit>No</itunes:explicit>
    <pubDate>{{ meeting.isoDate | feedDate }}</pubDate>
    <link>{{meeting.guid}}</link>
    <description>{{meeting.content}}</description>
  </item>
  {%- endfor %}
</rss>