<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DCC Podcasts</title>
    <link rel="stylesheet" href="/css/bundle.css">
</head>
<body>
    <header>
      <a href="/">City Council Podcasts</a>
    </header>
    <ul class="podcast-list">
        {%- for meeting in podcastData.items -%}
          <li class="listed-podcast">
            <a class="podcast-link" href="/meeting/{{ meeting.activity_id }}">{{ meeting.title }}</a>
            <p class="podcast-details">{{ meeting["content:encoded"] | podcastDate }} | {{ meeting["content:encoded"] | podcastLocation }}</p>
          </li>
        {%- endfor -%}
        </ul>
</body>
</html>